.popup__container-info-name {
  width: 100%;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  margin-top: 47px;
  padding-bottom: 10px;
}

@media screen and (max-width: 600px) {
  .popup__container-info-name {
    font-size: 14px;
    line-height: 17px;
    margin-top: 71px;
  }
}