.header__line {
  width: 100%;
  size: 1px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  margin: 37px 0 0;
}

@media screen and (max-width: 750px) {
  .header__line {
    margin: 27px 0 0;
  }
}