.popup__container-input-error_active {
  font-family: 'inter', Arial, sans-serif;
  font-size: 12px;
  line-height: 15px;
  font-style: normal;
  font-weight: 400;
  color: #f00;
  display: flex;
  text-align: start;
}